/* navbar.css */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .title_navbar {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    flex: 1;
    text-align: left;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav-links li a:hover {
    color: #ab89d5;
  }
  
  /* Hamburger Menu Icon Styling */
  .menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
  }
  
  .menu span {
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
  }
  
  /* Responsive Navbar */
  @media (max-width: 768px) {

    .nav-links {
    display: none; /* Hide the menu items initially */

  }
  
    /* Show menu items when the open class is added */
    .nav-links.open {
      display: flex; /* Show links vertically when open */
      height: 100vh;
      width: 100%;
      top: 38px; 
      position: absolute;
      right:0px

    }
  
    .nav-links li {
      text-align: center;
      margin: 10px 0;
    }

    nav ul li {
      width: 100%;
      text-align: center;
  }
  
    .menu {
      display: flex; /* Show the hamburger icon */
    }
  }
  